---
title: Healing Through Intention
navigation: primary-dark
layout: homepage
---

<div class="section hero background-off-black">
  <div class="container">
    <hgroup class="fade-out-slow">
      <h1>Power of Communal Intention</h1>
      <h4>Our Intetion To Heal The World!</h4>
    </hgroup>
  </div>
  <div class="scroll-arrow-wrap fade-out-fast">
    <a class="scroll-link scroll-arrow" href="javacript:"></a>
  </div>
  <div class="parallax overlay">
    <img class="fade-out-fast" alt="hero" src="assets/images/sunrise.jfif">
  </div>
</div>
{% include top-message.html theme="color-primary-dark background-lighten-3" %}
<div class="section color-primary-dark background-white">
  <div class="container">
    <div class="row">
      <div class="col s12 center-left">
        <p>What do we want to say here.</p>
      </div>
    </div>
  </div>
</div>
{% include video-bar.html theme="color-off-black background-lighten-4 top-gradient" %}
