<div id="footer-top" class="section theme-primary-darken-2">
  <div class="container-full">
    <div class="row">
      <div class="col s12 site-map">
        <hgroup>
          <h5>Healing Power of Intention</h5>
        </hgroup>
        <ul class="collapsible">
          <li>
            <div class="collapsible-body">
              <a href="/story.html" class="home">Our Story</a>
            </div>
          </li>
          <li>
            <div class="collapsible-body">
              <a href="/joinus.html" class="home">Join Us!</a>
            </div>
          </li>
          <li>
            <div class="collapsible-body">
              <a href="/contact.html" class="home">Make Request</a>
            </div>
          </li>
          <li>
            <div class="collapsible-body">
              <a href="/testimonial.html" class="home">Testimonials</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="footer-bottom" class="section theme-primary-darken-3">
  <div class="container-full">
    <div class="row">
      <div class="col s24 d-flex">
        <ul class="legal-copyright">
          <li class="copyright">&copy; <span id="date"></span>&nbsp; Power Of Communal Intention</li>
          <li>
            <a href="/code-of-conduct">Code of Conduct</a>
          </li>
          <li>
            <a href="/medical-disclaimer">Medical Disclaimer</a>
          </li>
          <li>
            <a href="/privacy-policy">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms">Terms & Conditions</a>
          </li>
        </ul>
        <ul class="social-media">
          <li>
            <a href="javascript:">
              <img alt="YouTube" src="assets/media/svg/youtube.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Instagram" src="assets/media/svg/instagram.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Facebook" src="assets/media/svg/facebook.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Twitter" src="assets/media/svg/twitter.svg" onload="SVGInject(this)">
            </a>
          </li>
          <li>
            <a href="javascript:">
              <img alt="Linkedin" src="assets/media/svg/linkedin.svg" onload="SVGInject(this)">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
