<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <!-- Removing temporarily until I create an image -->
      <!-- <div class="col s6">
        <article class="video-link">
          <div class="media">
            <img alt="svg" src="assets/media/svg/play.svg" onload="SVGInject(this)">
            <img
              src="assets/images/sunrisemanstand.jfif">
          </div>
        </article>
      </div> -->
      <div class="col s12">
        <div id="mlb2-4709119" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-4709119">
          <div class="ml-form-embedBody row-form">
            <h4>Stay Connected</h4>
            <p>Signup for Reuben's newsletter and get a free balancing meditation!</p>
            <form action="https://static.mailerlite.com/webforms/submit/q9f2x8" data-code="q9f2x8" method="post"
              target="_blank">
              <input type="email" class="form-control" data-inputmask="" name="fields[email]" placeholder="Email"
                autocomplete="email">
              <div class="ml-button-horizontal primary">
                <button type="submit" class="primary btn btn-large btn-white">Subscribe</button>
                <button disabled="disabled" style="display:none" type="button" class="btn btn-large btn-white loading">
                  <div class="ml-form-embedSubmitLoad"></div> <span class="sr-only">Loading...</span>
                </button>
              </div>
              <input type="hidden" name="ml-submit" value="1">
              <input type="hidden" name="anticsrf" value="true">
            </form>
            <p class="no-margin"><em>No hassle, no spam, one-click unsubscribe.</em></p>
          </div>
          <div class="ml-form-successBody row-success" style="display:none">
            <h4>Thank you!</h4>
            <p class="no-margin">You have successfully joined our subscriber list.</p>
          </div>
        </div>
        <script>
          function ml_webform_success_4709119(){var r=ml_jQuery||jQuery;r(".ml-subscribe-form-4709119 .row-success").show(),r(".ml-subscribe-form-4709119 .row-form").hide()}
        </script>
        <img src="https://track.mailerlite.com/webforms/o/4709119/q9f2x8?v1631760753" width="1" height="1" style="max-width:1px;max-height:1px;visibility:hidden;padding:0;margin:0;display:block" alt="." border="0">
        <script src="https://static.mailerlite.com/js/w/webforms.min.js?v0c75f831c56857441820dcec3163967c" type="text/javascript"></script>
      </div>
    </div>
  </div>
</div>
