<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Latest Videos & Blogs</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="tiles count-3">
          <a href="javascript:">
            <article class="video-link">
              <div class="media">
                <img alt="svg" src="assets/media/svg/play.svg" onload="SVGInject(this)">

                <img
                  src="assets/images/sunrisemanstand.jfif">
              </div>
              <div class="content">
                <h6>Monthly Energetic Update</h6>
                <p></p>
              </div>
            </article>
          </a>
          <a href="/three-worlds.html">
            <article>
              <div class="media">
                <img src="assets/images/glassmoon.jfif">
              </div>
              <div class="content">
                <h6>Energy Healing</h6>
                <p></p>
              </div>
            </article>
          </a>
          <a href="/sacred-geometry.html">
            <article>
              <div class="media">
                <img
                  src="assets/images/sacredgeometry2.jfif">
              </div>
              <div class="content">
                <h6>Power Of Intention</h6>
                <p></p>
              </div>
            </article>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
