<div class="section {{ include.theme }}">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align">
        <h3>Let's Connect!</h3>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <div class="tiles count-4">
          <a href="/shields.html">
            <figure class="aspect-1x1">
              <img src="assets/images/angels-shield.jfif">
              <figcaption>
                <h6>Shields</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/services.html">
            <figure class="aspect-1x1">
              <img src="assets/images/waterhandlight.jfif">
              <figcaption>
                <h6>Services</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/events.html">
            <figure class="aspect-1x1">
              <img src="assets/images/Clock.jfif">
              <figcaption>
                <h6>Events</h6>
              </figcaption>
            </figure>
          </a>
          <a href="/classes.html">
            <figure class="aspect-1x1">
              <img src="assets/images/classesstudy.jfif">
              <figcaption>
                <h6>Classes</h6>
              </figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
